<!-- <!DOCTYPE>
<html ng-app="NameCalculatorModule">
    <head>
        <title>My First Angular App</title>
        <script src="angular.min.js"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <h1>NAME CALCULATOR</h1>
        <div ng-controller="NameCalculatorController">
            Please enter your name here:
            <input type="text" ng-change="codeFunc()" ng-model="name"><br> 
            {{name}} <br>
            {{value}}
        </div>
    </body>
</html> -->

<!DOCTYPE>
<html ng-app="DependencyInjection">
    <head>
        <title>My First Angular App</title>
        <script src="angular.min.js"></script>
        <script src="dependencyInjection.js"></script>
    </head>
    <body>
        <div ng-controller="DIcontroller">
            <input type="text" ng-model="name" ng-blur="upper()"><br>
            {{name}} <br>
            {{myFunc()}}
        </div>
    </body>
</html>